<%- include("partials/header.ejs") %>
 
    <!--body section-->
    <div class="postDisplay">
        <h1 id="aboutTle">About Us</h1>
        <p class="aboutParag">Welcome to our blog! We are passionate about sharing insightful content on a variety of topics, from personal growth and productivity to technology and lifestyle. Our goal is to create a space where readers can find 
            inspiration, learn something new, and engage in meaningful discussions.</p>
        <p class="aboutParag">At [Your Blog Name], we believe in the power of storytelling and knowledge-sharing. Whether you're here for expert tips, thought-provoking articles, or just a good read, we hope you find something valuable.
            
            Thank you for being part of our community. Stay curious, stay inspired!</p>
    </div>
<%- include("partials/footer.ejs") %>
