<%- include("partials/header.ejs") %>
    <!--body section-->
    <div class="postDisplay">
        <div class="accessContainer">
            <p class="accessTle">Please Enter Access Code To Edit Your Post!</p>
            <form class="accessForm" action="/edit_access/<%= post.postId %>" method="POST">
                <input class="codeIpt" name="accessCode" type="number" placeholder="access code">
                <input class="codeConfirm" type="submit" value="Confirm">
            </form>
        </div>
        
        
    </div>
<%- include("partials/footer.ejs") %>
